.scaffolding-1 {
    position: relative;
    height: 100px;
    border: 5px dashed white;
}
.scaffolding-2 {
    position: relative;
    border: 5px dashed white;
}
.switch {
    position: relative;
    display: inline-block;
    width: 52px;
    height: 28px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    inset: 0;
    cursor: pointer;
    border-radius: 100px;
    background-color: #777;
    transition: 0.2s;
}
.slider::before {
    content: "";
    position: absolute;
    width: 22px;
    height: 22px;
    left: 3px;
    top: 3px;
    border-radius: 50%;
    background-color:white;
    transition: 0.2s;
}
.switch input:checked + .slider {
    background-color: #4caf50;
}
.switch input:checked + .slider::before {
    transform: translateX(24px);
}


.member-list {
    position: relative;
}
.member-list-ban-overlay {
    position: absolute;
    left: 60%;
    padding: 20px;
    border: 5px solid white;
    background: rgba(50, 50, 100, 1);
}